@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Sarala&family=Titillium+Web:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(68.15deg, #000000 16.62%, #5a5353 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #FFF2E7;
}

.cabecalho-imagem {
    height: 90px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid black;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
}

.conteudo-principal-imagem {
    padding: 30px;
    border-radius: 360px;
    height: 500px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.rodape-imagem {
    height: 140px;
}

.s-m {
    display: flex;
    gap: 25px;
}

.s-m i {
    text-align: center;
    border-radius: 360px;
    font-size: 20px;
    color: black;
    margin: 20px;
}
a:hover{
	color:black;
}


.container{
	width: 100%;
	height: 100%;
}

.login-screen{
    width: 300px;
    background-image: linear-gradient(orangered, red);
	border-radius: 15px;
	position: absolute;
	left: 45%;
	top: 45%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 100px;
	color: #fff;
	align-items: center;
	line-height: 50px;
}

.form{
	display: flex;
	flex-direction: column;
}

.inputs{
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
}

.btn{
	padding: 10px;
	width: 80%;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, red, red);
	cursor: pointer;
}

.description{
	color: white;
	font-size: 15px;
	margin-top: 50px;
}

.description a{
	font-weight: 700;
}
.logo{
    display: flex;
    flex-direction: row ;
    align-items: end ;
    justify-content:space-around 1px;
}
.justify{
    position: absolute; 
    left: 780px;
    top: 250px;
}
a{
    color: #fff;
}